.main{
    background-color:black;
    margin: 0;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/Trees.JPG");
    background-size: cover;
    background-position: center;
}

.main-nav{
    background-color: black;
    padding: 25px;
}
.main-nav-list{
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
.main-nav-list li {
    display: inline-block;
    margin: 5px;
}
.main-nav-list li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Lobster',sans-serif,monospace;
}
#main-heading{
    color: darkgrey;
    font-family: 'Staatliches',sans-serif,monospace;
    font-size: 80px;
    margin: 0;
    text-align: center;
    padding-top: 75px;
}
.second-heading{
    color: darkgrey;
    font-family: 'Lobster',sans-serif,monospace;
    text-align: center;
    font-size: 65px;
    margin: 0px;
    padding-bottom: 45px;
}
.main-paragraph{
    text-align: center;
    font-family: 'Lobster',sans-serif,monospace;
    font-size: 24px;
    color: darkgrey;
    margin-top: 75px;
}
#p-span-1{
    font-family: 'Staatliches',sans-serif,monospace;
    font-style: italic;
}
#p-span-2{
    font-family: 'Staatliches',sans-serif,monospace;
    font-style: italic;
}
#p-span-3{
    font-family: 'Staatliches',sans-serif,monospace;
    font-style: italic;
}
#p-span-4{
    font-family: 'Staatliches',sans-serif,monospace;
    font-style: italic;
}
#p-span-5{
    font-family: 'Staatliches',sans-serif,monospace;
    font-style: italic;
}
.main-footer{
    background-color: black;
    text-align: center;
    font-size: 18px;
    color: darkgrey;
    padding: 10px;
    font-family:'Staatliches',sans-serif,monospace;
    position: relative;
    bottom: 0;
}

/* Start blog page CSS*/

.blog-1-heading{
    color: darkgrey;
    font-family: 'Staatliches',sans-serif,monospace;
    margin: 0;
    text-align: center;
    font-size: 35px;
}
.blog-1-para{
    color: darkgrey;
    text-align: center;
    padding-inline: 308px;
    line-height: 1.5;
    font-size: 24px;
}
.image-example{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-example img{
    margin: 10px;
}
#img1{
    width: 44%;
}
#img2{
    width: 26%;
}
#img3{
    width: 30%;
}
#img4{
    width: 35%;
}
#img6{
    width: 30%;
}
.example-text{
    text-align: center;
    color: darkgray;
    font-size: 24px;
    padding-inline: 308px;
    line-height: 1.5;
}